#last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
	width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 8px;
}
.logo h1 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 24px;
    align-items: center;
    color: #070707;
}

.illustration{
	width: 273px;
    height: 302.95px;
     flex: none;
     order: 1;
     flex-grow: 0;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.heading{
    margin-left: 15px;
}

.heading h1{
    width: 74px;
    height: 27px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    
    color: #070707;

}

.heading p{
width:500px;
height: 15px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.02em;

color: #070707;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 200px 0px 0px 0px;
    bottom: 0;
    right: 0;
  }

.form-control{
    background: #FFFFFF;
    border: 2px solid #070707;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}










.full{
width: 80%;
display: inline-block;
margin:2%;
margin-left: 10%;
text-align: center;
background-color: black;
color: white;
border:15px solid orange;
border-radius: 5px;
margin-bottom: 8%;
margin-top: 8%;
}
.full h3{
font-size: 2rem;
display:block;
margin: 2%;
margin-bottom: 0;
}
.lt{
padding: 2%;
margin: 2%;
}
.rt{
padding: 2%;
margin: 2%;
}
.lt textarea{
width: 94%;
margin-left: 2.8%;
}
button{
margin: 2%;
}
.btn-primary{
background-color: black;
border: 2px solid white;
border-radius: 5%;
}
.list-item{
margin-bottom: 2%;
list-style-type: none;
}
.list-item span{
margin-left: 10px;
font-size: 1.4rem;
}
.list-item a{
color: white;
display: inline-block;
}
.list-item a:hover{
text-decoration: underline;
}

	
@media screen and (min-width: 770px){
.full{
	width: 70%;
	margin-left: 15%;
}
.lt textarea{
width: 95%;
margin-left: 2.4%;
}
}
	
@media screen and (min-width: 1100px){
.full{
	width: 65%;
	margin-left: 17%;
	margin-top: 5%;
}
.lt{
	width: 55%;
	display: inline-block;
	float: left;
	margin-right: 0;
}
.rt{
	width: 35%;
	display: inline-block;
	margin-left: 0;
}
.list-item{
margin-bottom: 10%;
}
.contact-list{
	margin-top: 22%;
	padding-right: 8%;
}
.fa-envelope, .gmail{
	display: inline-block;
	width: auto;
}
}
